.footer-container {
  position: relative;
  background-color: #070707;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.footer-qf-wrap {
  position: absolute;
  z-index: 0;
  inset: 0;
}

.footer-qf-wrap canvas {
  width: 100%;
  height: 100%;
  display: block;
}

.footer-tabs {
  margin-top: 10%;
}

.footer-tabs, .footer-bottom-bar {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem 4rem;
  max-width: 90%;
}

.footer-tab, .footer-inner-tab {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 400px;
}

.footer-inner-tab {
  gap: 0.5rem;
}

.tab-title {
  font-family: "Fira Code Medium", serif;
  font-size: 1.3rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  border-bottom: 1px solid #ffffff;
}

.tab-title svg { width: 1.3rem; }

.tab-paragraph {
  margin: 0;
  font-family: "Aero Matics", serif;
  text-align: justify;
}

.tab-paragraph + .footer-inner-tab,
.footer-inner-tab + .tab-paragraph {
  margin-top: 1.5rem;
}

.inner-tab-line, .footer-socials {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: 'Josefin Sans Variable', sans-serif;
  font-size: 1rem;
  color: #ffffff;
  border: none;
  background-color: transparent;
  padding: 0;
  text-decoration: none;
}
.inner-tab-line:hover { color: #aaaaaa; }

.inner-tab-line svg {
  flex-shrink: 0;
  width: 1.1rem;
  color: #dddddd;
  margin-right: 0.3rem;
  margin-bottom: 0.3rem;
}
.inner-tab-line:hover svg { color: #bbbbbb; }

.inner-tab-line > .ext-icon {
  width: 0.8rem;
  margin-bottom: 0;
  translate: 0 -0.25rem;
}
.inner-tab-line:hover > .ext-icon { color: #aaaaaa; }

.footer-bottom-bar {
  gap: 0.2rem 6rem;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-size: 0.8rem;
}