:root {
    --font: system-ui, 'Segoe UI', Roboto, sans-serif;
    --bgf: invert(1);

    font: 18px/145% var(--font);
    letter-spacing: 0.18px;
    color-scheme: light dark;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

@media (prefers-color-scheme: dark) {
    :root {
        --bgf: none;
    }
}

body {
    margin: 0;
}

#root {
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
    min-height: 100svh;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}